.App {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;
}

.header {
  height: 13vh;
  width: 100vw;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(109, 94, 161);
  background-color: #0f0f0f;
  border-bottom: 3px solid #33eeff;
}

.main {
  height: 87vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(75, 75, 75);
}

.main img {
  width: 20vw;
}

.main-products {
  display: flex;
  flex-direction: column;
}

.sectional-products {
  width: 50%;
}

.update-input {
  background-color: seashell;
  padding: .7rem;
}

.update-btn {
  background-color: #0f0f0f;
  color: red;
  border-radius: 20%;
  padding: 1rem;
}

.remove-btn {
  background-color: #0f0f0f;
  color: red;
  border-radius: 20px;
  padding: 1rem;
}