.App {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;
}

.header {
  height: 13vh;
  width: 100vw;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(109, 94, 161);
  background-color: #0f0f0f;
  border-bottom: 3px solid #33eeff;
}

.main {
  height: 87vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(75, 75, 75);
}

.main img {
  width: 20vw;
}

.main-products {
  display: flex;
  flex-direction: column;
}